
body {
    background-color: brown;
}


nav{
    background-color: firebrick;
}









#searchBar {
      border: 1px solid #97D6B2;
      color: black;
}





/*map styling*/
  #map {
    /*height: 100%;
    width: 1250px;
    text-align: center;*/
       height: 400px;
        width: 100%;
        border:2px goldenrod solid;
  }

  #table-scroll {
height: 400px;
  overflow:auto;  
  margin-top:20px;
}
  html, body {
    height: 80%;
 }



footer {
    width: 100%;

}
 @media only screen and (max-width: 900px) {

	.home h1 {
		font-size:200%;
	}
}

@media only screen and (max-width: 720px) {

	.home h1 {
		font-size:190%;
	}
}

@media only screen and (max-width: 580px) {

	.home h1 {
		font-size:150%;
	}
}
